six==1.12.0
numpy==1.15.4
scipy==1.1.0
matplotlib==3.0.2
scikit-image==0.14.1
imageio==2.4.1
Shapely
opencv-python==3.4.3.18
Pillow==6.2.0
imgaug==0.2.6
tensorflow-gpu==1.10.0
keras==2.2.4
git+https://www.github.com/keras-team/keras-contrib.git